<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TodoList
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
    <ion-text color="primary">
      <h2 class="ion-text-center">0 tâche(s) à faire et 2 tâche(s) faites</h2>
    </ion-text>
      <!-- Checkboxes in a List -->
      <div id="container">
        <ion-list>
          <ion-item>
            <ion-label>Manger une pomme</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Manger une pomme</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Manger une pomme</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Manger une pomme</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addTask()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    



  </div>
</ion-content>
