<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TodoList
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
    <ion-text color="primary">
      <h2 class="ion-text-center">{{ items.length }} tâche(s) à faire et {{ items.length }} tâche(s) faite(s)</h2>
    </ion-text> 
  
      <!-- Checkboxes in a List -->
      <div id="container">
        <div class="wrapper">
          <ion-input [(ngModel)]="value"></ion-input>
          <ion-button (click)="addItem()" [disabled]='value.length<2'>add</ion-button>
        </div>
        <ion-list>
          <ion-item [class.done]="item.isDone" *ngFor="let item of items; let ind = index;">
            <ion-label>{{ item.value }}</ion-label>
            <ion-checkbox slot="start" (click)="setDone(ind)"></ion-checkbox>
            
            <ion-button (click)="deleteItem(ind)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-list>
      </div>

    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newTask()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

  </div>
</ion-content>
